<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="shortcut icon" href="/images/favicon.ico " />
        <title>Blog App</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href = "https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
        <link rel="stylesheet" type="text/css" href = "/stylesheets/app.css">
        <link href="https://fonts.googleapis.com/css?family=Oxygen|Ubuntu|Amatic+SC|Cinzel" rel="stylesheet">

    </head>
    <body>
        <div class="ui fixed inverted menu" style="background-color: #3527B3">
            <div class="ui container">
                <div class="header item"><i class="desktop icon"></i></I>Blog</div>
                <a href="/" class="item">Home</a>
                <a href="/blogs/new" class="item">New post</a>
                <% if(!currentUser){ %>
                    <a href="/login" class="item ml-auto">Login</a>
                    <a href="/register" class="item" >Register</a>
                <% } else { %>
                    <a href="#" class="item ml-auto">Signed in as <%= currentUser.firstName %></a>
                    <a href="/logout" class="item">Logout</a>
                <% } %>
            </div>
        </div>
        <h3><%= error %></h3>
        <h3><%= success %></h3>
