<% include ./partials/header %>
<div class="box">
    <h2>New Post</h2>
    <form action="/blogs" method="POST">
        <div>
            <input type="text" name="blog[title]">
            <label>Title</label>
        </div>
        <div>
            <input type="text" name="blog[image]" >
            <label>Image URL</label>
        </div>
        <div>
            <textarea name="blog[body]"></textarea>
            <label>Blog content</label>
        </div>
        
        <input class="ui violet button" type="submit">
    </form>
</div>

<% include ./partials/footer %>